.carosol-bg{
	background-color: #fceae8 !important;
}
.bg-orange{
	background-color: orange;
}
.bg-orchid{
	background-color: orchid;
}
.bg-blue {
	background-color: blue;
}
.size-img{
	width: 100px;
}